<mat-toolbar color="primary">
  <button mat-button routerLink="/">TaxiGes</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/list-taxis" matTooltip="Ver lista de táxis">
    <mat-icon>local_taxi</mat-icon> Táxis
  </button>
  <!-- <button mat-button routerLink="/add-taxi" matTooltip="Adicionar novo táxi">
    <mat-icon>add_circle_outline</mat-icon> Novo Táxi
  </button> -->
  <button mat-button routerLink="/list-prices">
    <mat-icon>list</mat-icon>
    Lista de Preços
  </button>

  <button mat-button routerLink="/list-motoristas" matTooltip="Ver lista de motoristas">
    <mat-icon>people</mat-icon> Motoristas
  </button>
  <!-- <button mat-button routerLink="/add-motorista" matTooltip="Adicionar novo motorista">
    <mat-icon>person_add</mat-icon> Novo Motorista
  </button> -->

  <button mat-button routerLink="/simulate-travel" matTooltip="Simular preço de viagem">
    <mat-icon>calculate</mat-icon> Simular Viagem
  </button>

</mat-toolbar>

<router-outlet></router-outlet>

