<div class="list-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de Preços</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      
      <table mat-table [dataSource]="prices" class="mat-elevation-z8" *ngIf="!isLoading">
        <ng-container matColumnDef="precoPorMinuto">
          <th mat-header-cell *matHeaderCellDef> Preço por Minuto </th>
          <td mat-cell *matCellDef="let preco"> {{preco.precoPorMinuto}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo de conforto </th>
          <td mat-cell *matCellDef="let preco"> {{preco.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="agravamento">
          <th mat-header-cell *matHeaderCellDef> Agravamento aplicado no periodo noturno</th>
          <td mat-cell *matCellDef="let preco"> {{preco.agravamento}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="no-data" *ngIf="!isLoading && prices.length === 0">
        <p>Não existem de preços registrados.</p>
        <button mat-raised-button color="primary" routerLink="/add-price">
          <mat-icon>add</mat-icon>
          Adicionar Preço
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="prices.length > 0">
      <button mat-raised-button color="primary" routerLink="/add-price">
        <mat-icon>add</mat-icon>
        Adicionar Preço
      </button>
    </mat-card-actions>
  </mat-card>
</div>