<div class="detalhe-container" *ngIf="pedido">
  <mat-card class="pedido-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-icon">
        <mat-icon>local_taxi</mat-icon>
      </div>
      <mat-card-title>Pedido #{{ pedido._id }}</mat-card-title>
      <mat-card-subtitle>
        Status:
        <span class="status" [ngClass]="pedido.status">
          {{ pedido.status | titlecase }}
        </span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <div class="info-grid">
        <div class="info-item">
          <mat-icon>person</mat-icon>
          <div>
            <div class="label">Cliente</div>
            <div>{{ pedido.cliente.pessoa.nome }}</div>
          </div>
        </div>

        <div class="info-item">
          <mat-icon>place</mat-icon>
          <div>
            <div class="label">Origem</div>
            <div>{{ pedido.localizacaoAtual.rua }}, {{ pedido.localizacaoAtual.localidade }}</div>
          </div>
        </div>

        <div class="info-item">
          <mat-icon>flag</mat-icon>
          <div>
            <div class="label">Destino</div>
            <div>{{ pedido.destino.rua }}, {{ pedido.destino.localidade }}</div>
          </div>
        </div>
      </div>

      <mat-divider class="my-3"></mat-divider>

      <!-- Motorista Selecionado -->
      <div *ngIf="pedido.motoristaSelecionado && this.pedido.status !== 'aceite'" class="info-item motorista-box">
        <mat-icon>directions_car</mat-icon>
        <div>
          <div class="label">Motorista Selecionado</div>
          <div>{{ pedido.motoristaSelecionado.pessoa.nome }} ({{ pedido.motoristaSelecionado.pessoa.nif }})</div>

          <div *ngIf="!motoristaConfirmado">
            <button mat-raised-button color="primary" (click)="onConfirmarMotorista()">Aceitar Motorista</button>
            <button mat-raised-button color="warn" (click)="onRejeitarMotorista()">Rejeitar Motorista</button>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="onCancelar()" [disabled]="pedido.status !== 'pendente'">
        <mat-icon>cancel</mat-icon>
        Cancelar Pedido
      </button>
      <button mat-raised-button color="primary" routerLink="/">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
