<mat-card>
  <mat-card-title>Resumo da Viagem</mat-card-title>
  <mat-card-content>
    <div class="viagem-resumo">
      <p><strong>Destino:</strong> {{ viagem?.localFim?.rua }}, {{ viagem?.localFim?.localidade }}</p>
      <p><strong>Preço final:</strong> {{ viagem?.preco | number:'1.2-2' }} €</p>
      <p><strong>Quilómetros percorridos:</strong> {{ viagem?.quilometrosPercorridos | number:'1.2-2' }} km</p>
      <p>
          <strong>Estado:</strong>
          <span class="status" [ngClass]="viagem?.status?.replace(' ', '-')">
            {{ viagem?.status || '---' }}
          </span>
        </p>
      </div>
    <button mat-raised-button color="primary" routerLink="/">Voltar ao início</button>
    <button mat-raised-button color="accent" (click)="mostrarFormularioFim = true">
      Registar fim da viagem
    </button>

    <form *ngIf="mostrarFormularioFim" [formGroup]="fimForm" (ngSubmit)="onSubmitFimViagem()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Morada de fim</mat-label>
        <input matInput formControlName="moradaFim" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Hora de fim</mat-label>
        <input matInput formControlName="horaFim" type="datetime-local" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="fimForm.invalid">
        Guardar fim da viagem
      </button>
    </form>
  </mat-card-content>
</mat-card>