.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.welcome-card {
  max-width: 600px;
  width: 100%;
  margin: 20px;
}

mat-card-actions {
  display: flex;
  gap: 16px;
  padding: 16px;
}

mat-card-content {
  padding: 16px;
  font-size: 1.1em;
}

.simulador-viagem {
  max-width: 600px;
  width: 100%;
  margin: 25px;
}